<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>
        This is mini blog posting website that was created using node.js. This
        has helped me to understand the fundmentals about node and what are the
        in's and out's of back-edn development and from this tutorila based
        project i will use what i have learnt to strengten my skills about what
        it is to be a back-end developer.
      </p>
    </div>
    <%- include("./partials/footer.ejs") %>
  </body>
</html>
